* {
  font-family: "Lato", sans-serif;
 }

.text-super {
   font-size: 64px;
   font-weight: 100;
   color: #747704;
 }

.text-muted {
   color: #bcbbbb;
   margin-left: 5.2em;
}

.text-sub {
   font-weight: 300;
   color: #747704;
}

.thick-line {
   border-top-width: thick;
   color: #747704;
}

.title-logo {
   margin-top: 30px;
   margin-left: 12em;
}

.project-text {
   font-weight: 400;
   color: #747704;
}
